{% extends "orders/base.html" %}

{% block title %}
Select Additions to Item
{% endblock %}

{% block content %}
<h1>Select Additions</h1>

<form action="{% url 'add_to_cart_addition' order_item.id %}" method="post">
    {% csrf_token %}
    {% for i in max_additions %}
        <div>
            <select name="addition {{i}}">
            {% for addition in additions %}
                <option value="{{ addition.id }}">{{ addition }}</option>
            {% endfor %}
            </select>
        </div>
    {% endfor %}
    <input type="submit" value="Submit"/>
</form>
{% endblock %}
