{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Payment</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- link to the SqPaymentForm library -->
        <script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform">
        </script>
        
        <!-- link to the local custom styles for SqPaymentForm -->
        <link rel="stylesheet" href="{% static 'orders/mysqpaymentform.css' %}">
    </head>
    <body>

        <div id="form-container">
            <div id="sq-card-number"></div>
            <div class="third" id="sq-expiration-date"></div>
            <div class="third" id="sq-cvv"></div>
            <div class="third" id="sq-postal-code"></div>
            <button id="sq-creditcard" class="button-credit-card" onclick="onGetCardNonce(event)">Pay ${{ grand_total }}</button>
        </div> <!-- end #form-container --> 
        <!-- TODO: Add script from step 1.1.3 -->
       
        <script type="text/javascript">
            // Create and initialize a payment form object
            const paymentForm = new SqPaymentForm({
                // Initialize the payment form elements
                
                //TODO: Replace with your sandbox application ID
                applicationId: "sandbox-sq0idb-uGiLT18U8NRes2pKnTX7Zw",
                inputClass: 'sq-input',
                autoBuild: false,
                // Customize the CSS for SqPaymentForm iframe elements
                inputStyles: [{
                    fontSize: '16px',
                    lineHeight: '24px',
                    padding: '16px',
                    placeholderColor: '#a0a0a0',
                    backgroundColor: 'transparent',
                }],
                // Initialize the credit card placeholders
                cardNumber: {
                    elementId: 'sq-card-number',
                    placeholder: 'Card Number'
                },
                cvv: {
                    elementId: 'sq-cvv',
                    placeholder: 'CVV'
                },
                expirationDate: {
                    elementId: 'sq-expiration-date',
                    placeholder: 'MM/YY'
                },
                postalCode: {
                    elementId: 'sq-postal-code',
                    placeholder: 'Postal'
                },
                // SqPaymentForm callback functions
                callbacks: {
                  /*
                  * callback function: cardNonceResponseReceived
                  * Triggered when: SqPaymentForm completes a card nonce request
                  */
                    cardNonceResponseReceived: function (errors, nonce, cardData) {
                        if (errors) {
                            // Log errors from nonce generation to the browser developer console.
                            console.error('Encountered errors:');
                            errors.forEach(function (error) {
                                console.error('  ' + error.message);
                            });
                            alert('Encountered errors, check browser developer console for more details');
                            return;
                        }

                        const request = new XMLHttpRequest();
                        request.open('POST', '/pay');

                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = cookies[i].trim();
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                        var csrftoken = getCookie('csrftoken');

                        // Add data to send with request
                        const data = new FormData();
                        data.append('csrfmiddlewaretoken', csrftoken)
                        data.append('nonce', nonce);
                        
                        // Send request
                        request.send(data);
                        // return false;

                        // alert(`The generated nonce is:\n${nonce}`);

                        // Callback function for when request completes
                        request.onload = () => {
                            // Extract JSON data from request
                            const data = JSON.parse(request.responseText);

                            // Update the result div
                            if (data.status === "COMPLETED") {
                                // console.log(data)
                                // console.log(`/order/${data.order_pk}`)
                                window.location.href = `/order/${data.order_pk}`

                            }
                            else {
                                alert(`fail`);
                            }
                        }    
                    }
                }
            });
            //TODO: paste code from step 1.1.4
            //TODO: paste code from step 1.1.5
            paymentForm.build();

            // onGetCardNonce is triggered when the "Pay $1.00" button is clicked
            function onGetCardNonce(event) {
                // Don't submit the form until SqPaymentForm returns with a nonce
                event.preventDefault();
                // Request a nonce from the SqPaymentForm object
                paymentForm.requestCardNonce();
            }
          </script>
       
    </body>
</html>

